body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    font-family: Serif, Sans-Serif, Monospace;
}

.container {
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#game-board {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.card-wrapper {
    width: 200px;
    height: 300px;
    perspective: 600px;
    cursor: pointer;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 0.5s;
}

.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 3.5rem;
    backface-visibility: hidden;
}

.no-select {
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Old versions of Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently  supported by Chrome, Edge, Opera and Firefox */
    user-select: none;
}

.card-face-front {
    background-image: url("card-back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.card-face-back {
    background-image: url("card-front.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotateY(180deg);
}

.card-number {
    position: absolute;
    top: 10px;
    left: 30px;
}

#toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    background-color: transparent;
    padding: 8px;
    border-radius: 8px;
}

#leader-board-button,
#start-game-button,
#card-number-select {
    font-size: 1.5rem;
    border-radius: 8px;
    background-color: #123b87;
    border: 0px solid #324976;
    color: #ffffff;
    padding: 10px;
}

#count-down {
    font-size: 3rem;
    font-weight: 800;
    color: grey;
}

#leader-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 100;
    height: 95%;
    width: 95%;
    border-radius: 10px;
    padding: 20px;
    visibility: hidden;
}

#leader-board-toolbar {
    display: flex;
    align-items: center;
}

#leader-board-table-wrapper {
    margin-top: 20px;
    width: 100%;
    height: 90%;
    overflow: auto;
}

#leader-board-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

#leader-board-table th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
}

#leader-board-table,
#leader-board-table td,
#leader-board-table th {
    text-align: left;
    font-size: 1.5rem;
}

#leader-board-table th,
#leader-board-table td {
    padding: 1rem;
}

#leader-board-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#leader-board-title {
    margin-right: auto;
    font-size: 2rem;
    font-weight: bold;
}

#leader-board-close-button {
    margin-left: auto;
    border: none;
    background-color: transparent;
    font-size: 1.8rem;
}